.d{
  background-image: url("abc.jpg");}
*{background-image: url("abc.jpg");
image-rendering: flip;}

/* <img src="abc.jpg" alt="یک راه دیگر">
  */

p{

b:bold;i:italic;font-size: 65px;text-align: center;
border: 5px dotted rgb(215, 120, 120);
border-radius: 20px;
}
table,TD,TH{
    border: 1px solid #000000;
    border-collapse: collapse;
   
}
table{
    width: 100%;
}
th#a{
    width: 35%;
}
tr#l{
    height: 80px;
}
th{
    font-family: Arial Black;
    font-size: 30px;text-align: center;background-color: darkgray;

}
TD{
    background-color: rgb(83, 112, 137);
}
tr#f{
    background-color: rgb(219, 73, 73);color: rgb(31, 32, 33);
}
<!-- تک پایین برای لیست غیر ترتیبی بولیت دادیم که اگرnone    بیگیریم هیچ سمبول نمیگیردم -->
ul{
    list-style-type: georgian;
padding: 300px;
}
h4{
    padding-top: 80px;
}
li a:hover{
    color: #000000;background-color: aliceblue;
}
li{
    display: inline;
}

}
button{
    background-color: grey;
    color: aliceblue;
    height: 30PX;width: fit-content;
    padding-left: 55PX;
    overflow: hidden;
    border-radius: 99px;
}
LI a{
    text-decoration: none;
    display: inline;
}
li#a{
    display: inline;
}
input{
    display: block;
}
.a{
    display: inline;
}
h1{
    color: aqua;
    border: 2px dashed black;
    border-radius:5px;
}
#O{
    margin: 55px;
    margin-left: 80px;

   border-style: dashed inset groove outset;
   border-color: aliceblue #3a2b3a rgb(215, 120, 120) hsl(12, 100%, 50%); 
   border-width: 2px 8px 12px 22px;
border-top-left-radius: 9px;
}
.rr{

}
